/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

/*
 ==================================================
 FONTS

*/

@font-face {
	font-family: "Tofino Book";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Tofino-Book/Tofino-Book.eot");
	src: url("../fonts/Tofino-Book/Tofino-Book.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Tofino-Book/Tofino-Book.woff2") format("woff2"),
		 url("../fonts/Tofino-Book/Tofino-Book.woff") format("woff"),
		 url("../fonts/Tofino-Book/Tofino-Book.ttf") format("truetype"),
		 url("../fonts/Tofino-Book/Tofino-Book.svg#Tofino-Book") format("svg");
}

@font-face {
	font-family: "Tofino Regular";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Tofino-Regular/Tofino-Regular.eot");
	src: url("../fonts/Tofino-Regular/Tofino-Regular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Tofino-Regular/Tofino-Regular.woff2") format("woff2"),
		 url("../fonts/Tofino-Regular/Tofino-Regular.woff") format("woff"),
		 url("../fonts/Tofino-Regular/Tofino-Regular.ttf") format("truetype"),
		 url("../fonts/Tofino-Regular/Tofino-Regular.svg#Tofino-Regular") format("svg");
}

@font-face {
	font-family: "Tofino Bold";
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/Tofino-Bold/Tofino-Bold.eot");
	src: url("../fonts/Tofino-Bold/Tofino-Bold.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Tofino-Bold/Tofino-Bold.woff2") format("woff2"),
		 url("../fonts/Tofino-Bold/Tofino-Bold.woff") format("woff"),
		 url("../fonts/Tofino-Bold/Tofino-Bold.ttf") format("truetype"),
		 url("../fonts/Tofino-Bold/Tofino-Bold.svg#Tofino-Bold") format("svg");
}

/*
 ==================================================
 GLOBAL

*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

/*
 ==================================================
 HOME

*/

#jumbo-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	color: #FFF;
	font: 15px "Tofino Bold";
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#jumbotron {
	width: 100%;
	height: 100vh;
	padding: 75px 100px;
	background: url("../images/cover.jpg") no-repeat;
	background-position: 50% 75%;
	background-size: 100%;
}

#jumbotron .logo {
	height: 50px;
}

#jumbo-hs {
	position: absolute;
	bottom: 100px;
}

#jumbo-hs h2 {
	margin-bottom: 12px;
	color: #FFF;
	font: 50px/50px "Tofino Book";
}

#jumbo-hs h1 {
	margin-bottom: 40px;
	color: #FFF;
	font: 67px/67px "Tofino Bold";
	letter-spacing: 2px;
}

#jumbo-btn {
	width: 300px;
	height: 60px;
	border: none;
	color: #FFF;
	background: #E83151;
	font: 21px "Tofino Bold";
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*
 ==================================================
 LOGIN

*/

body#login {
	height: 100vh;
	background: #387780;
}

#login-page-wrap {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
}

#login .logo {
	display: block;
	width: 200px;
	margin: 0 auto 50px;
}

#login-container {
	position: relative;
	overflow: hidden;
	width: 396px;
	height: 385px;
	padding: 48px;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

#login h3 {
	margin-bottom: 25px;
	color: #387780;
	font: 21px "Tofino Bold";
	letter-spacing: 1px;
}

#login-form {
	color: #898989;
}

#login-form input:not([type="checkbox"]) {
	width: 296px;
	height: 40px;
}

.text-field {
	padding: 10px;
	border: 1px solid #898989;
	outline-color: #d5af44;
	font: 15px "Tofino Regular";
}

#login-form .text-field:first-child {
	margin-bottom: 15px;
}

#login-form .text-field:nth-child(2) {
	margin-bottom: 12px;
}

#remember-line {
	display: block;
	margin-bottom: 20px;
}

#remember-cbox {
	margin-left: 0;
	cursor: pointer;
	vertical-align: middle;
}

#remember-text {
	font: 12px "Tofino Regular";
}

#login-submit {
	border: none;
	color: #FFF;
	background: #E83151;
	font: 15px "Tofino Bold";
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#forgot-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 61px;
	border: 1px solid rgba(137,137,137,.25);
	background: rgba(137,137,137,.15);
	line-height: 61px;
	text-align: center;
}

#forgot-text {
	color: #898989;
	font: 12px "Tofino Regular";
	text-decoration: underline;
}

/*
 ==================================================
 FEED

*/

body#feed, body#project {
	background: #eee;
}

.site-nav {
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 0 200px;
	background: #387780;
}

.site-nav .logo {
	width: 180px;
}

.site-nav ul {
	display: flex;
	justify-content: flex-end;
}

.site-nav ul li {
	margin-left: 40px;
}

#feed-content {
	max-width: 1200px;
	padding-top: 80px;
	margin: 0 auto;
}

#feed-grid {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#feed-h {
	margin: 40px 0 5px;
	color: #E83151;
	font: 21px "Tofino Bold";
	text-transform: uppercase;
}

#feed-h-line {
	width: 45px;
	height: 5px;
	background: #E83151;
}

#projects-col {
	width: 70%;
}

.project-card {
	width: 100%%;
	height: 425px;
	margin-top: 30px;
	background: #FFF;
	cursor: pointer;
}

.project-card-img {
	width: 100%;
	height: 275px;
	background: url("../images/housing.jpg");
	background-position-y: 100%;
	background-size: cover;
}

.project-card-text {
	width: 100%;
	height: 150px;
	padding: 30px;
}

.project-card-title {
	color: #387780;
	font: 21px/21px "Tofino Bold";
}

.project-card-city {
	display: block;
	margin-bottom: 5px;
	color: #387780;
	font: 9px "Tofino Book";
	letter-spacing: 1px;
	text-transform: uppercase;
}

.project-card-p {
	width: 500px;
	font: 12px "Tofino Regular";
}

#filter-col {
	width: 30%;
}

#filter-card {
	position: fixed;
	width: 364px;
	padding: 30px;
	margin-top: 30px;
	background: #FFF;
	transition: transform .5s;
	vertical-align: top;
}

#filter-card.scrolled {
	transform: translateY(-110px);
}

#filter-h {
	margin-bottom: 30px;
	color: #757780;
	font: 21px "Tofino Bold";
	text-transform: uppercase;
}

#filter-select {
	display: block;
	width: 100%;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid #757780;
	margin-bottom: 30px;
	color: #757780;
	font: 15px "Tofino Regular";
}

#search-field {
	width: 100%;
	border: none;
	border-bottom: 1px solid #757780;
	margin-bottom: 100px;
	color: #757780;
	font: 15px "Tofino Regular";
}

::-webkit-input-placeholder {
	color: #DBD4D3;
}

#filter-btn-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 30px;
	border-top: 1px solid rgba(137, 137, 137, 0.25);
	background: rgba(137, 137, 137, 0.05);
}

#filter-submit {
	width: 120px;
	height: 40px;
	border: none;
	color: #FFF;
	background: #E83151;
	font: 15px "Tofino Bold";
	letter-spacing: 1px;
	text-transform: uppercase;
}

.add-btn {
	position: fixed;
	right: 75px;
	bottom: 50px;
	background: #E83151;
}

/*
 ==================================================
 PROJECT

*/

#project-content {
	width: 100%;
	padding-top: 80px;
}

#project-cover {
	position: relative;
	width: 100%;
	height: 400px;
	padding: 0 200px;
	background: linear-gradient(
		rgba(0, 0, 0, 0.0) 50%, 
		rgba(0, 0, 0, 0.75)
	), linear-gradient(
		rgba(0, 0, 0, 0.2), 
		rgba(0, 0, 0, 0.2)
	), url("../images/housing.jpg") no-repeat;
	background-position-y: 100%;
	background-size: cover;
}

#project-cover-info {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	bottom: 25px;
	width: calc(100% - 400px);
}

#project-cover-hs {
	color: #E83151;
}

#project-cover-votes {
	width: 120px;
	color: #FFF;
	text-align: center;
	font: 15px/40px "Tofino Bold";
}

#project-cover-upvotes {
	width: 100%;
	height: 40px;
	cursor: pointer;
	margin-bottom: 10px;
	background: #20bf55;
}

#project-cover-downvotes {
	width: 100%;
	cursor: pointer;
	height: 40px;
	background: #E83151;
}

#project-cover-title {
	font: 67px "Tofino Bold";
}

#project-cover-city {
	font: 28px "Tofino Book";
	letter-spacing: 1px;
	text-transform: uppercase;
}

#project-info {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

#project-timeline {
	width: 100%;
	padding: 40px 0;
}

#project-timeline-bar {
	position: relative;
	width: 100%;
	height: 40px;
	border-radius: 20px;
	background: #FFF;
}

#project-timeline-progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	width: calc(75% - 20px);
	height: 20px;
	border-radius: 10px;
	margin: auto;
	background: #E83151;
}

#project-start {
	float: left;
	padding-top: 12px;
	color: #E83151;
	font: 21px "Tofino Bold";
}

#project-end {
	float: right;
	padding-top: 12px;
	color: #E83151;
	font: 21px "Tofino Bold";
}

#project-about {
	width: 30%;
}

#project-about-card {
	position: relative;
	width: 100%;	
	padding: 30px;
	color: #757780;
	background: #FFF;
}

#project-about-h {
	color: #757780;
	font: 21px "Tofino Bold";
	letter-spacing: 1px;
	text-transform: uppercase;
}

#project-contact {
	display: block;
	margin-bottom: 12px;
	font: 15px "Tofino Book";
}

#project-about-p {
	margin-bottom: 50px;
	font: 12px "Tofino Regular";
}

#project-cost-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 30px;
	border-top: 1px solid rgba(137, 137, 137, 0.25);
	background: rgba(137, 137, 137, 0.05);
}

#project-cost {
	color: #757780;
	font: 15px "Tofino Bold";
}

.project-feedback {
	width: 70%;
	padding-left: 40px;
}

.project-feedback-card {
	margin-bottom: 40px;
	background: #FFF;
}

.project-feedback-img {
	width: 100%;
	height: 300px;
	background: red;
}

.project-feedback-text {
	padding: 30px;
}

.project-feedback-h {
	color: #387780;
	font: 28px "Tofino Bold";
}

.project-feedback-author {
	display: block;
	margin-bottom: 15px;
	color: #757780;
	font: 15px "Tofino Book";
	letter-spacing: 1px;
	text-transform: uppercase;
}

.project-feedback-date {
	float: right;
	color: #757780;
	font: 12px "Tofino Regular";
}

.project-feedback-p {
	color: #757780;
	width: 580px;
	font: 15px "Tofino Regular";
}

#add-feedback-card {
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	bottom: -400px;
	z-index: 1000;
	width: 700px;
	height: 400px;
	padding: 30px;
	margin: auto;
	background: #FFF;
	transform: translateY(100%);
	transition: transform .5s;
}

#add-feedback-card.active {
	transform: translateY(-100%);
}

#add-feedback-title {
	font: 15px "Tofino Regular";
}

#add-feedback-description {
	height: 180px;
	border: none;
	border-bottom: 1px solid #757780;
	font: 15px "Tofino Regular";
	resize: none;
}

#add-feedback-form-btns {
	position: absolute;
	background: rgba(137, 137, 137, 0.05);
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid rgba(137, 137, 137, 0.25);
	padding: 15px 30px;
}

#add-feedback-submit {
	display: inline-block;
	width: 120px;
	padding: 10px;
	border: none;
	margin-right: 10px;
	color: #FFF;
	background: #E83151;
	font: 15px "Tofino Bold";
	vertical-align: top;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.file-field {
	display: inline-block;
	margin: 0;
}

.file-field input.file-path {
	margin-bottom: 0;
}

.file-field .btn {
	width: 120px;
	height: 40px;
	border-radius: 0;
	background: #E83151;
	box-shadow: none;
	font: 15px/40px "Tofino Bold";
	cursor: pointer;
	letter-spacing: 1px;
}

#overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	display: none;
}